.jumbotron {
    background-image: url(../images/njtransit_banner18.jpg);
    background-size: cover;
}
body {
    background-color: grey;
} 
.container {
    background-color: aliceblue;
}
th, .form-group{
    background-color: #B0B0B0;
    text-align: center;
    font-weight: bolder;
}
td {
    text-align: center;
}